body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #004f7c;
    background: linear-gradient(to right, #DCF2F1, white);
}

header {
    background-color: #ffffff;
    padding: 5px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .user-profile {
    display: flex;
    align-items: center;
}

.header-left .user-profile .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.header-left .user-info {
    font-weight: bold;
    color: var(--dark);
}

nav {
    display: flex;
    align-items: center;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: auto;
}

nav .menu a {
    text-decoration: none;
    color: var(--dark);
}

.logo {
    margin-left: 1rem;
    width: 25px;
    height: 25px;
}

.logout-logo {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: #3a506b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2e3d49;
    padding: 20px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to right, #DCF2F1, white);
}

.diary-entries, .diary-section {
    width: 80%;
    background-color: #d0e8f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.diary-section h2, .diary-entries h2 {
    font-size: 2em;
    color: #3a506b;
}

.diary-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #3a506b;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    color: #3a506b;
    margin-bottom: 10px;
}

.form-controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.custom-file-label {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3a506b;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
}

.mood-dropdown {
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3a506b;
    font-size: 0.9em;
    color: #3a506b;
    background-color: #fff;
}

.diary-button {
    background-color: #3a506b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 10px;
}

.sort-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.sort-button {
    background-color: #3a506b;
    color: #fff;
    border: 1px solid #3a506b;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

#entries_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.entry {
    background-color: #fff;
    border: 1px solid #3a506b;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: center;
    max-height: 400px;
    overflow-y: auto;
}

.entry p {
    margin: 0;
    font-size: 1em;
    color: #3a506b;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

.entry img {
    max-height: 200px;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.timestamp {
    font-size: 0.8em;
    color: #7f8c8d;
    margin-top: 10px;
}

.edit-button, .delete-button {
    background-color: #3a506b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 10px;
}

.custom-file-input {
    display: none;
}

.custom-file-label::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 120%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.custom-file-label:hover::after {
    opacity: 1;
    visibility: visible;
}

#entry_image_name {
    margin-top: 10px;
    color: #3a506b;
    font-size: 0.9em;
    text-align: center;
}

.mood {
    font-style: italic;
    color: #3a506b;
    margin-top: 5px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
