body {
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #004f7c;
  background: linear-gradient(to right, #DCF2F1, white);
}

header {
  background-color: #ffffff;
  padding: 5px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .user-profile {
  display: flex;
  align-items: center;
}

.header-left .user-profile .profile-pic {
  width: 30px; 
  height: 30px;
  border-radius: 50%; 
  margin-right: 0.5rem; 
}

.header-left .user-info {
  font-weight: bold;
  color: var(--dark);
}

nav {
  display: flex;
  align-items: center;
}

nav .menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-right: auto; 
}

nav .menu a {
  text-decoration: none;
  color: var(--dark);
}

.logo {
  margin-left: 1rem; 
  width: 25px; 
  height: 25px; 
}

.logout-logo {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #3a506b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

main {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  color: #2b6aaf;
  font-size: 48px;
  margin-bottom: 10px;
  font-family: 'Arial Black', sans-serif;
}

p {
  color: #5d718d;
  font-size: 20px;
  margin-bottom: 40px;
  font-family: 'Arial', sans-serif;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.feature-box {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 18px;
  color: #333;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border: 1px solid #e0e0e0;
}

.feature-box:nth-child(odd) {
  background-color: #e8f7f8;
}

.feature-box:nth-child(even) {
  background-color: #ffffff;
}