body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #DCF2F1, white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

.container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #334868;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.container p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #333;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1em;
    color: white;
    background-color: #334868;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 0;
    animation: slideIn 1s ease-in-out 2s forwards;
}

.btn:hover {
    background-color: #2c3e50;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
