body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #DCF2F1, white);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #2e3d49;
    font-weight: bold;
}

nav ul li a.signup {
    background-color: #365486;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 60px);
    text-align: left;
    color: #2e3d49;
}

.intro {
    max-width: 550px;
    margin-left: 100px;
}

.intro h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #3a506b;
}

.subheading {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #3a506b;
}

hr {
    border: 1px solid #3a506b;
    width: 50%;
    margin: 20px 0;
}

.description {
    font-size: 1em;
    line-height: 1.5em;
    color: #3a506b;
}

@media (max-width: 768px) {
.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.navbar a {
  padding: 5px 0;
}

.content h1 {
  font-size: 1.8em;
}

.content p {
  font-size: 0.9em;
}

.feature {
  width: 100%;
  }
}
