body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #DCF2F1, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #e1f5fe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px black;
  width: 300px;
  text-align: center;
}

.header {
  background-color: #365486;
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

.header p {
  margin: 5px 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  padding: 10px;
  border: 1px solid #365486;
  border-radius: 5px;
  outline: none;
}

.login-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #365486;
  color: white;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
}

.footer p {
  margin: 10px 0;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}
