body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #DCF2F1, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-container {
  background-color: #e1f5fe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px black;
  width: 350px;
  width: 90%;
  max-width: 300px;
  text-align: left;
}

.header {
  background-color: #365486;
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

.header p {
  margin: 5px 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  padding: 10px;
  border: 1px solid #365486;
  border-radius: 5px;
  outline: none;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.dob-label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #365486;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.date-container {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  margin: 0 auto;
}

.date-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #365486;
  border-radius: 5px;
  outline: none;
}

.signup-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #365486;
  color: white;
  cursor: pointer;
  width: 100%;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer a {
  color: #365486;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .signup-container {
    width: 90%;
    padding: 15px;
  }

  .header {
    padding: 15px;
  }

  .header h1 {
    font-size: 1.2em;
  }

  .input-field,
  .signup-button {
    padding: 8px;
    font-size: 1em;
  }

  .dob-label {
    font-size: 0.9em;
  }

  .footer p {
    font-size: 0.9em;
  }

  .footer a {
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  .header h1 {
    font-size: 1em;
  }

  .header p {
    font-size: 0.9em;
  }

  .input-field,
  .signup-button {
    padding: 6px;
    font-size: 0.9em;
  }

  .dob-label {
    font-size: 0.8em;
  }

  .footer p {
    font-size: 0.8em;
  }

  .footer a {
    font-size: 0.8em;
  }
}
