body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.welcome-section {
  background-color: #334868;
  color: #ffffff;
  padding: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.welcome-section h1 {
  margin: 0;
  font-size: 2.5em;
}

.welcome-section p {
  font-size: 1.2em;
  margin-top: 20px;
}

.signin-section {
  padding: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-section h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

.signin-btn {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #ffffff;
  font-family: 'Google Sans', sans-serif;
}

.signin-btn.github {
  padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #24292e; /* GitHub's brand color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.github {
  background-color: #24292e;
  color: #ffffff;
}

.github:hover {
  background-color: #444;
}

.github-icon { 
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.google {
  background-color: #ffffff;
}

.google:hover {
  background-color: #e9e9e9;
}

.google-icon {
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-top: 5px;
}

.facebook {
  background-color: #3b5998;
  color: #ffffff;
}

.facebook:hover {
  background-color: #2d4373;
}

.separator {
  margin: 20px 0;
  font-size: 1em;
  color: #888;
}

.create-account-btn {
  width: 200px;
  padding: 10px;
  border: 2px solid #33527f;
  border-radius: 5px;
  font-size: 1em;
  background-color: #ffffff;
  color: #33527f;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.create-account-btn:hover {
  background-color: #33527f;
  color: #ffffff;
}

.login-link {
  margin-top: 20px;
  font-size: 1em;
}

.login-link a {
  color: #33527f;
  text-decoration: none;
  transition: color 0.3s;
}

.login-link a:hover {
  color: #1a3155;
}

@media only screen and (max-width: 424px) {
  body, .container {
    flex-direction: column;
  }

  .container {
    margin: 10px;
  }

  .welcome-section {
    align-items: center;
    padding: 18px;
  }

  .signin-section {
    padding: 18px;
  }

  .welcome-section h1 {
    font-size: 24px;
  }

  .welcome-section p, .signin-section h2, .signin-btn, .create-account-btn {
    font-size: 14px;
  }

  .signin-btn, .create-account-btn {
    width: 100%;
    margin: 5px 0;
  }
}