body {
    font-family: Arial, sans-serif;
    background-color: #E9F7FB;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 5px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .user-profile {
    display: flex;
    align-items: center;
}

.header-left .user-profile .profile-pic {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    margin-right: 0.5rem; 
}

.header-left .user-info {
    font-weight: bold;
    color: var(--dark);
}

nav {
    display: flex;
    align-items: center;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: auto; 
}

nav .menu a {
    text-decoration: none;
    color: var(--dark);
}

.logo {
    margin-left: 1rem; 
    width: 25px; 
    height: 25px; 
}

.logout-logo {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: #3a506b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 40px; 
    background: #E0F7FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 20px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    max-height: 300px; 
}

h1 {
    color: #2C3E50;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    padding: 15px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #2C3E50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    outline: none; 
}

button {
    padding: 15px 80px;
    border: none;
    border-radius: 10px; 
    background-color: #2C3E50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1A242F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#message {
    margin-top: 20px;
    color: red;
}

.letters-container {
    width: 100%;
    max-width: 1500px; 
    margin: 20px auto; 
    padding: 20px; 
    background: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#letters {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px; 
    background-color: #E0F7FF;
    margin-top: 1px;
}

.letter {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s; 
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #c7e3e8;
    border-radius: 20px;
}

.letter:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.closed-envelope,
.open-letter {
    width: 100%;
    height: 80%;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.closed-envelope {
    display: flex;
}

.open-letter {
    display: none;
    background-color: #f9f9f9;
}

.open-letter h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.open-letter p {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.open-letter .timestamp {
    font-size: 12px;
    color: #888;
    margin-top: auto; 
    text-align: right;
}

.image-container.left {
    margin-top: 0; 
}

.image-container.right {
    margin-top: 100px; 
}